/**
#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#
#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#
$#$#$#$# START OF GENERAL STYLES $#$#$#$#
$#$#$#$# START OF GENERAL STYLES $#$#$#$#
$#$#$#$# START OF GENERAL STYLES $#$#$#$#
#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#
#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#
**/

* { 
    padding: 0px; 
    margin: 0px; 
    border: 0px; 
    outline: 0px;
  }
  
  body {
    background: #ffffff;
    font-family: 'Open Sans','Roboto', sans-serif;
    font-size: 18px;
  }
  
  
  .entry {
    position: relative;
    left: 17%;
    width: 60%;
    background-color: rgba(0,0,0,1);
    color: #FFF;
    padding: 25px 50px;
    border-radius: 5px 70px;
    border-right: 11px solid #5d5d5d;
    border-bottom: 25px solid #ababab;
    margin-bottom: 16px;
  }
  
  .entry a {
    color: #ffffff;
  }
  
  .entry a:visited {
    background-color: cyan;
  }
  
  h1, h2 {
    font-family: Monospace;
    text-align: center;
    text-transform: lowercase;
    color: rgba(0,0,0,1);
    margin-bottom: 36px;
  }
  
  h1 {
    font-size: 60px;
  }
  
  h2 {
    font-size: 40px;
    margin-top: 24px;
  }

  h3 {
    color: #ffffff;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 36px;
  }
  
  .bottom-pad {
    padding-bottom: 24px;
  }
  
  /**
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#
  $#$#$#$# END OF GENERAL STYLES $#$#$#$#
  $#$#$#$# END OF GENERAL STYLES $#$#$#$#
  $#$#$#$# END OF GENERAL STYLES $#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#
  **/
  
  /**
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#$#$#$#
  $#$#$#$# START OF NAVIGATION STYLES $#$#$#$#
  $#$#$#$# START OF NAVIGATION STYLES $#$#$#$#
  $#$#$#$# START OF NAVIGATION STYLES $#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#$#$#$#
  **/
  
  .nav {
    background-color: #ffffff;
    height: 10%;
    position: relative;
    top: 5px;

  }


  .btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    left: 55%;
  }
  
  .default {
    color: black;
  }

  .github {
     content: "GitHub Profile";
  }
  
  .default:hover {
    background: #e7e7e7;
  }
  
  /**
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#$#$#
  $#$#$#$# END OF NAVIGATION STYLES $#$#$#$#
  $#$#$#$# END OF NAVIGATION STYLES $#$#$#$#
  $#$#$#$# END OF NAVIGATION STYLES $#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#$#$#
  **/
  
  /**
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#$#
  $$$$$$$$ START OF OVERLAY ITEMS $#$#$#$#
  $$$$$$$$ START OF OVERLAY ITEMS $#$#$#$#
  $$$$$$$$ START OF OVERLAY ITEMS $#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$
  **/
  /* The Overlay (background) */
  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: black;
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.2s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
    font-family: Open Sans, sans-serif;
    color: #ffffff;
    font-size: 16px;
  
}
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  .fab {
    width: 70px;
    height: 70px;
    background-color: red;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 70px;
    position: fixed;
    right: 5px;
    bottom: 5px;
  }
  
  .fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
  }
  
  .overlay-content p{
    margin: 10px 500px;
  }

  /**
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#
  $$$$$$$$ END OF OVERLAY ITEMS $#$#$#$#
  $$$$$$$$ END OF OVERLAY ITEMS $#$#$#$#
  $$$$$$$$ END OF OVERLAY ITEMS $#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$
  **/
  
  
  /**
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$
  $#$#$#$# START OF PROJECT CARDS $#$#$#$#
  $#$#$#$# START OF PROJECT CARDS $#$#$#$#
  $#$#$#$# START OF PROJECT CARDS $#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$
  **/

  .row {
    width:1100px;
    position: relative;
    left: 425px;
    bottom: 20px;
  }

  .flip-card {
    background-color: transparent;
    display: inline-block;
    width: 500px;
    height: 400px;
    margin: 10px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */   
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    border: 2px solid black;
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

  .card-links {
    margin-top: 16px;
    background-color: #f44336;
    color: white;
    font-size: 24px;
    padding: 20px 36px;
    text-align: justify;
    text-decoration: none;
    display: inline-block;
    border-radius:25px;
  }

  .card-text {
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    padding: 0px 25px 10px; 
  }

  .placard {
    width: 90%;
    height: 90%;
    margin: 1px;
    text-align: center;
  }
  
  /**
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$
  $#$#$#$# END OF PROJECT CARDS $#$#$#$#
  $#$#$#$# END OF PROJECT CARDS $#$#$#$#
  $#$#$#$# END OF PROJECT CARDS $#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$#$
  **/
  
  /**
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#$#$#
  $$$$$$$$ START OF ACCORDION SETUP $#$#$#$#
  $$$$$$$$ START OF ACCORDION SETUP $#$#$#$#
  $$$$$$$$ START OF ACCORDION SETUP $#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#$#$#
  **/
  .explainer {
    background-color: #000000;
    height: 90%;
    width: 100%;
    margin-top: 25px; 
  }

  .explainer p{
    color: #ffffff;
    margin: 14px;
    font-family: 'Roboto', sans-serif;
  }

  .acc-container {
    position: relative;
    margin-top: 25px;
    width: 70%;
    left: 50%;
    margin-left: -35%;
  }

  .accordion {
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
    padding: 18px;
    border: none;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    outline: none;
    font-size: 36px;
    width: 100%;
    transition: 0.4s;
  }
  
  .accordion:hover {
    background-color: #3b3b3b;
  }

  .active {
    font-family: 'Ubuntu', 'Open Sans', 'Roboto', sans-serif;
    text-align: right;
    padding-right: 50px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 55%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%);
    color: #000000;
    border-top: 1px solid #ffffff;
    border-top:2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    text-transform: capitalize;
    transition: 2s;
  }

  .first {
    border-radius: 25px 25px 0px 0px;
  }
  
  .accordion:after {
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    border-radius: 25px 25px 0px 0px;
  }
  
  
  .panel {
    background-color: #000000;
    color: #ffffff;
    max-height: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    transition: max-height 1s ease-out;
    position: relative;
    left: 0;
    right: 0;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
  }
  
  .panel:active {
    border-bottom: 1px solid #ffffff;
    
  }

  .panel p {
    padding: 24px;
  }

  .last {
    border-bottom: 2px solid #ffffff;
  }
  
  /**
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#$#
  $$$$$$$$ END OF ACCORDION SETUP $#$#$#$#
  $$$$$$$$ END OF ACCORDION SETUP $#$#$#$#
  $$$$$$$$ END OF ACCORDION SETUP $#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#$#
  #$#$#$#$#$#$#$#$#$#$#$#$#$#$#$##$#$#$#$#
  **/